# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/openmp/oracle-drace1/build/
/openmp/oracle-drace1/dist/
/openmp/oracle-deadlock/dist/
/openmp/oracle-deadlock/build/
/openmp/oracle-datarace-sv/build/
/openmp/oracle-datarace-sv/dist/
/openmp/oracle-cache-misses/build/
/openmp/oracle-cache-misses/dist/
/openmp/oracle-jacobi/build/
/openmp/oracle-jacobi/dist/